

Django==5.0.7
django-cors-headers==4.9.0
django-multiselectfield==1.0.1

gunicorn==23.0.0
pillow==11.3.0

python-dateutil==2.9.0.post0

razorpay==1.4.2
setuptools==80.9.0

tokenizers==0.22.0

transformers==4.56.0


